

/* MAIN COLORS  */

:root { /* The :root pseudo-class selector matches the document's root element which is always the html element but its specificity is higher. :root can be useful for declaring global CSS variables: */
    --color-main: beige; /* main viewport */
    --color-header: rgb(212, 212, 16); /* header and footer */
    --color-form: rgb(209, 243, 243); /* forms */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ---------COMMON STYLES--------------- */

* {
    box-sizing: border-box;
  }

body {
    margin: 15px;
  }
  
  h1 {
    margin: 0px auto 15px;
    text-align: center;
  }
  

/* ----------HEADER----------------- */

header {
    position: sticky;
    top: 0px;
    background-color: var(--color-header);
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .logo {
    width: 200px;
    display: flex;
    align-items: center;
    margin: 15px 0px;
  }

  .logo img {
    width:150px;
  }
  
  .menu {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 2em;
  }
  
  .menuitem {
    text-decoration: none; 
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-form);
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    width: 200px;
    text-align: right;
    padding-right: 25px;
  }
  
  .userinfo {
    padding: 10px 0px 10px 100px;
    width: 200px;
    text-align: center;
  }


/* ----LOGIN / REGISTER / ADDQUESTION / ADDANSWER --------- */

.forma {
    background-color: var(--color-form);
    color: blue;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 100px auto 15px;
  }
  
  .forma h1 {
    text-align: center;
    margin: 10px;
  }
  
  .forma input, textarea {
    width: 100%;
    /* display: block; */
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: white;
    border: 2px solid #4a5568;
    background-color: #2d3748;
    border-radius: 10px;
    outline: none;
    display: block;
  }

  .forma p {
    margin: 0px 0px;
  }
  
  .forma [type='submit'] {
    display: block;
    margin: 15px auto;
    padding: 5px;
  }
  
  .error {
    color: red;
  }

/* -----------MESSAGE--------------- */

.message {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

/* -----------FLOWERS--------------- */

.flowers {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(54, 54, 9); */
}

.flowers img {
  width: 300px;
  object-fit: contain;
  margin-left: 15px;
}

/* -----------FOOTER--------------- */

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-main);
}
  
#content-wrap {
    padding-bottom: 3.5rem;    /* Footer height */  
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            /* Footer height */
    text-align: center;
    background-color: var(--color-header);
}

/* -------------RESPONSIVENESS------------- */

    @media only screen and (max-width: 768px) {
      .flex {
        flex-direction: column;
        gap: 20px;
        min-width: 200px;
      }
      .menu {
        /* text-align: center; */
        margin: auto;
      }
      .logo {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 15px;
      }
      .login {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        margin-bottom: 15px;
      }
      .userinfo {
        padding: 10px 0px;
        width: 200px;
        /* text-align: center; */
        display: block;
        margin: auto;
      }
    }
  